/* .HeroBlock container */
.carouselContainer {
    position: relative;
  }
  
  /* .overlay styles */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire container */
    background: linear-gradient(to right, rgb(250, 250, 250) 50%, transparent 90%);
  
  }

  .home img{
      width:75%!important;
      margin: 0 auto;
      height: auto!important;
      border-radius: 10px;
      }


  .HomeMobileText{
    margin-top: 90px!important;
    color: #778566!important;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  .HomeMobileText p {
    letter-spacing:3px;

  }

  .HomeDescription{
    margin-top:15px!important;
    width: 70%;
    margin: 0 auto;
    color: #778566!important;
    font-style: italic;
  }
  .HomeDescription p {
    font-size: 12px!important;
  }
  
  .Button {

      padding: 10px 10px;
      background-color: #788666;
      text-transform: uppercase;
      letter-spacing: 2px;
      color:white;
      border-color: white;
      border-radius: 10px;
      font-size: 12px;
      box-shadow:none;
  }
  
  
  /* Mobile display */
  .MobileDisplay {
    display: none; /* Hide on desktop */
  }
  
  /* Desktop display */
  .DesktopDisplay {
    display: block; /* Show on desktop */
  }
  
  @media screen and (max-width: 980px) {
    /* Mobile display */
    .MobileDisplay {
        display: block; /* Show on mobile */
    }
  
    /* Desktop display */
    .DesktopDisplay {
        display: none; /* Hide on mobile */
    }
    .overlay {
      background: linear-gradient(to right, transparent 0%, transparent 100%);
  }
  }
  