.Icon{
    color: white;
    font-size: 20px;
    z-index: 2;
}

.SocialContainer{
    display: inline-block!important; /* Display its children in a row */
    gap: 20px; /* Add some space between the children */
    justify-content: center;
  }
  
.SocialContainer span {
  width:200px;
}

.SocialContainer a {
    font-size: 60px;
    color:black;
    
  }

.Anahata{
  background-color: #78866617;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Itka{
  background-color: #e8d2be4f;
  padding-top: 40px;
  padding-bottom: 40px;
}

  /* Add any additional styling you need for individual links or their icons */
