video,
img {
    width: 100vw;
    height: 92vh;
    object-fit: cover;
}

.Desktop {
    display: block;
}

/*.Mobile {
    display: none;
}*/


@media screen and (max-width: 500px) {
    .Desktop {
        display: none;
    }

   /* .Mobile {
        display: block;
    }*/
}